<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Charles Babbage</title>
</head>

<body>
    <h1>Charles Babbage</h1>
    <hr />

    <h3>Descripcion</h3>
    <p>
        Charles Babbage es de Londres, Reino Unido.
        Matemático e ingeniero mecánico británico que diseñó y construyó parcialmente
        la primera máquina calculadora mecánica diferencial y una máquina analítica.
        Conocido por muchos como el padre de la computación digital.
        Cofundó la Analytical Society, creada para incorporar a las Matemáticas inglesas los descubrimientos alcanzados
        en el Continente europeo.
    </p>

    <img src="./img/babbage_1.jpg" alt="Charles Babbage">

    <h3>biografia</h3>

    <p>
        Charles Babbage se licenció en la Universidad de Cambridge en 1814. Poco después, en 1815, fundó con J. Herschel
        la Analytic Society con el propósito de renovar de la enseñanza de las matemáticas en Inglaterra. En 1816 fue
        elegido miembro de la Royal Society y en 1828 ingresó en su universidad como profesor de matemáticas.
        Aunque había destacado en el área de la teoría de funciones y análisis algebraico, Charles Babbage se volcó en
        el intento por conseguir una máquina capaz de realizar con precisión tablas matemáticas. En 1833 completó su
        "máquina diferencial", capaz de calcular los logaritmos e imprimirlos de 1 a 108.000 con notable precisión, y
        formuló los fundamentos teóricos de cualquier autómata de cálculo. Por entonces Babbage ya conocía los sistemas
        decimales de conteo, y estaba familiarizado con la descomposición de complejas operaciones matemáticas en
        secuencias sencillas.
        Después de esto, Babbage se volcó en el proyecto de diseñar una "máquina analítica" que fuese capaz de procesar
        cualquier secuencia de instrucciones aritméticas. Para esta realización contó con fondos del gobierno inglés y
        con la colaboración de la que está considerada como la primera programadora de la historia, Ada Lovelace, hija
        del poet Lord Byron.
    </p>
    <img src="./img/babbage_2.jpg" alt="Máquina diferencial de Babbage">

    <p>
        Aunque no consiguió su propósito, Charles Babbage sentó los principios básicos de las computadoras modernas,
        como el concepto de programa o instrucciones básicas (que se introducen en la máquina de manera independiente de
        los datos), el uso de la memoria para retener resultados y la unidad aritmética. La máquina de Babbage,
        construida exclusivamente con piezas mecánicas y multitud de ruedas dentadas, utilizaba las tarjetas perforadas
        para la introducción de datos y programas, e imprimía en papel los resultados con técnicas muy similares a las
        que se emplearon hasta mediados de los años 70.

        En compañía de Ada Lovelace, que empleó mucho de su tiempo en la publicación de las ideas de su maestro, Babbage
        dedicó sus últimos años y recursos a una máquina infalible que fuese capaz de predecir los ganadores de las
        carreras de caballos. En honor de Lady Ada Lovelace, el Departamento de Defensa de los Estados Unidos denominó
        ADA a un lenguaje de programación de computadoras de alto nivel.
    </p>

</body>

</html>