<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Berners lee</title>
</head>

<body>
    <hr />
    <h1>Berners-lee</h1>
    <hr />

<img src="./img/berners.jpg" alt="_Bernes-lee">
<br />
<cite><b>Tim Berners-Lee</b></cite>
<blockquote>"La Web ha perdido el rumbo: hay muchas cosas que han ido mal"</blockquote>


    <h2>Datos</h2>
    <p>
        Tim Berners-Lee nació el 8 de junio de 1955, en Londres, Reino Unido.
        Fue uno de los cuatro hijos de los matemáticos Conway Berners-Lee y Mary Lee Woods, que trabajaron en la primera
        computadora electrónica comercializada, la Ferranti Mark 1.
        Graduado en física en el Queen's College de la Universidad de Oxford en 1976, cuando tenía 21 años. Estando en
        la universidad, fabricó una computadora con un viejo televisor comprado en un taller de reparación.
        En 1978, ingresó en D.G. Nash Limited donde desarrolló un sistema operativo. En1980 entró en el CERN
        (Organización Europea para la Investigación Nuclear) donde presentó un proyecto basado en el hipertexto para
        compartir información más fácilmente entre investigadores. Elaboró por entonces ENQUIRE, un programa que no
        llegó a lanzarse.
    </p>

    <h3><b>World Wide Web</b></h3>
    <p>
        El <b>CERN</b> era el nodo de Internet más importante de Europa y donde Berners-Lee consiguió unir Internet e
        hipertexto (HTTP y HTML), creándose así la World Wide Web el 12 de marzo de 1989, implementando la primera
        comunicación exitosa entre cliente y servidor de Protocolo de Transferencia de Hipertexto (HTTP) a través de
        Internet a mediados de noviembre de ese mismo año, aunque por entonces no tuvo repercusión. No fue hasta en
        1990, y con una revisión realizada con Robert Cailliau, cuando fue aceptada por su gerente, Mike Sendall.
    </p>
  

    <h3><b>Primer Navegador</b></h3>
    <p>
        Usando planteamientos parecidos a los que había usado en el sistema <b>ENQUIRE</b>, para crear la World Wide Web,
        diseñó el primer navegador, al que llamó WorldWideWeb, siendo desarrollado con <b>NEXTSTEP</b>, junto al primer
        servidor Web al que llamó httpd (HyperText Transfer Protocol daemon).
    </p>

    <h3><b>Premios y reconocimientos</b></h3>
    <ul>
        <li> En 1997, fue hecho oficial de la Orden del Imperio Británico. Miembro de la Royal Society desde 2001. </li>
        <li>Recibió el Premio Príncipe de Asturias, compartido con Lawrence Roberts, Robert Kahn y Vinton Cerf en la
            categoría de investigación científica y técnica en 2002.</li>
        <li>El 16 de julio de 2004, la reina Isabel II le concedió por su trabajo pionero el rango Knight Commander, la
            Orden más sobresaliente del Imperio Británico. En abril de 2009, fue elegido asociado extranjero de la
            Academia Nacional de Ciencias de los Estados Unidos.
        </li>
        <li>Desde 2011, pertenece al consejo de administración de la Fundación Ford. En 2012 se le hizo miembro del
            Salón de la Fama de Internet por la Internet Society. </li>
        <li>Apareció en la lista de la revista Time de las 100 personas más importantes del siglo XX. </li>
        <li>Recibió el Premio Turing 2016 por inventar la World Wide Web, el primer navegador web y los protocolos y
            algoritmos fundamentales que permiten escalar la Web. </li>
    </ul>
</body>

</html>