<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clarke</title>
</head>

<body>
    <h1>Joan Clarke</h1>
    <img src="/img/clark.jpg" alt="clarke">
    <h2>su historia</h2>
    <p>
        Joan Clarke, matemática y criptoanalista, tuvo un rol central en la hazaña que implicó descifrar el Código
        Enigma utilizado por los alemanes, durante la Segunda Guerra Mundial. La británica trabajó codo a codo junto a
        Alan Turing y su equipo para desentrañar el funcionamiento de ese sistema que se usaba para codificar mensajes.

        Fue la única mujer en integrar este grupo ultra secreto que tuvo un rol fundamental durante ese período bélico.
        Sin su trabajo y el del resto de los especialistas, la guerra podría haber tenido otro desenlace.
    </p>
    <h3>Qué era la máquina Enigma y cómo funcionaba</h3>
    <p>
        Se trataba de una máquina electromecánica desarrollada por el ingeniero alemán Arthur Scherbius. Contaba con un
        sistema de mecanismo de cifrado rotatorio que servía tanto para cifrar como para descifrar mensajes.

        El dispositivo tenía teclas, como una máquina de escribir, y al presionarlas, movían unos cilindros rotatorios.
        Cada rotor era un disco con dos caras y con 26 contactos eléctricos.

        Entre el teclado y el rotor había un pieza que permitía intercambiar seis pares de letras. Esto es lo que
        permitía ir codificando los mensajes.

        El matemático polaco Marian Rejewski fue clave para identificar el sistema de cifrado. Esbozó un diseño sobre el
        cual luego Turing ideó, en 1939, Bombe, un dispositivo electromecánico que usaron los británicos para entender
        los mensajes de los alemanes.
    </p>
    <img src="/public/img/Maquina-Bombe-disenada-por-Turing-3.jpg" alt="turing">
    
    <p>
    El sistema fue luego rediseñado por Gordon Welchman y la construcción estuvo a cargo de Harold Keen de la British
    Tabulating Machine Company.

    Esta máquina permitió identificar miles de mensajes diarios que transmitían los alemanes a diario y por eso se
    considera que tuvo un rol fundamental en la victoria de los Aliados.
    </p>
</body>

</html>