<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hopper</title>
</head>

<body>
    <h1>Hopper </h1>
    <hr />
    <img src="/img/grace-hopper-work-1024x659.jpg" alt="hopper">
    <p>
        Matemática, miembro de la Marina de los Estados Unidos y científica computacional, Grace Hopper está considerada
        como la madre de la programación informática.

        Desarrolló uno de los primeros compiladores de lenguaje. Un importante salto de las técnicas de programación
        primitivas a los sofisticados sistemas que usamos ahora.
    </p>

    <h2>La vida de Grace Hopper</h2>
    <p>
        Grace <b>Hopper</b> es una de esas mujeres a las que la historia no ha dado el reconocimiento que merece. Pero, sin
        ella, la tecnología no habría llegado a ser lo que hoy conocemos.
        Nació en 1906 en Nueva York, en el seno de una familia vinculada al ejército. Desde niña, demostró aptitudes
        para la ciencia y la matemática. Un interés que su padre potenció, pues quería que sus hijas tuvieran las mismas
        oportunidades que su hijo. Con solo siete años, Grace desmontó todos los relojes de su casa, llena de curiosidad
        por saber cómo funcionaban realmente.
        En 1934, se doctoró en Matemáticas por Yale. También estudió en la Escuela de Cadetes Navales para Mujeres, en
        la que se graduó en 1944 con el distintivo de teniente. Fue enviada a la Universidad de Harvard para trabajar en
        el Mark I, un proyecto que cambiaría su vida (y la nuestra) para siempre.
    </p>
<h2>El primer compilador de la historia</h2>
    <p>
        Tras su paso por Harvard, en 1949, Hopper pasó a trabajar con la Eckert-Mauchly Corporation, en Filadelfia. Un
        trabajo en el que continuaría hasta que se retiró, ya en los años 70. Fue para esta empresa para la que
        desarrolló, en 1952, el considerado primer compilador de la historia: A-0.

        Hopper creía que la informática solo podría desarrollar todo su potencial si era capaz de llegar a muchas más
        personas, no solo expertos en matemáticas e informática. El desarrollo de los lenguajes de programación haría
        más fácil la comprensión para los no eruditos en la materia.
    </p>
    <img src="/img/grace-hopper-1024x780.jpg" alt="hopper">

</body>

</html>