<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    <h1>Bienvenidos a mi paginas</h1>
    <body bgcolor="#f3e5f5">
    <hr />
    <img src="/img/tabla.jpg" alt="meme">
    <hr />
    <center><h2>Mis Links</h2></center>
    <hr />
    <ul> 
<li><a target="blank" href="http://localhost:3030/babbage">Babbage</a></li>
<li><a target="blank" href="http://localhost:3030/berners-lee">Berners</a></li>
<li><a target="blank" href="http://localhost:3030/clarke">Clarke</a></li>
<li><a target="blank" href="http://localhost:3030/hamilton">Hamilton</a></li>
<li><a target="blank" href="http://localhost:3030/lovelace">Lovelace</a></li>
<li><a target="blank" href="http://localhost:3030/hopper">Hopper</a></li>
<li><a target="blank" href="http://localhost:3030/turing-">Turing</a></li>
</ul>

<img src="/img/meme.jpg" alt="meme">

</body>
</html>