<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eva Lovelace</title>
</head>

<body>

 <h1>Eva Lovelace</h1>
    <hr />
    <P>
    <ul>
        <li>La matemática británica Ada Lovelace, la única hija legítima de lord Byron, se adelantó a su tiempo al
            desarrollar el primer algoritmo destinado a ser procesado por una máquina.</li>
    </ul>
    </P>
    <he />
    <img src="/public/img/eval.jpg" alt="eva lovelace">
    <h2>Biografia</h2>
    <p>
        Augusta Ada Byron nació en Londres el 10 de diciembre de 1815. Era hija de la baronesa Annabella Noel-Byron y
        del poeta
        lord Byron (su única hija legítima). Al poco de nacer, sus padres se separaron. Su madre se enteró de que la
        hermanastra
        de su marido, Augusta Leigh, era también su amante, y abandonó a su marido.
        Ada no volvería a ver nunca más a su padre. Su madre se aseguró su custodia, amenazando a su exmarido con hacer
        públicas sus aventuras extramatrimoniales. Tanto las de carácter incestuoso (Byron incluso tuvo una hija con su
        hermanastra) como las de naturaleza homosexual. El poeta optó por abandonar Inglaterra para siempre.
        Lady Byron estimuló el interés de su hija por la ciencia y la tecnología de dos maneras: visitando las regiones
        industriales de Inglaterra, donde Ada admiró novedosas máquinas como el “telar de Jacquard” (un telar mecánico
        inventado por Joseph Marie Jacquard que utilizaba tarjetas perforadas), y fomentando su amistad con la
        prestigiosa científica Mary Somerville, quien se convirtió en su modelo y mentora.
        En una velada en casa de esta, Ada conoció al eminente científico Charles Babbage, que estaba presentando en
        sociedad un modelo parcial de su máquina diferencial, un artilugio mecánico que servía para calcular secuencias
        de números. Ada se sintió profundamente impresionada con el invento, tanto por su belleza conceptual como por
        sus posibles aplicaciones prácticas.
    </p>
    <h2>Aportes de Ada lovelace/h2>
        <p>Gracias a su imaginación, a su capacidad para ver más allá de la realidad inmediata, Ada fue capaz de
            desarrollar varios conceptos que actualmente se consideran visionarios. El más célebre se refiere al
            funcionamiento de lo que hoy se conoce como algoritmo informático. Ada tomó como ejemplo los números de
            Bernoulli (una serie infinita que juega un papel importante en la teoría de los números) para describir, por
            medio de un diagrama, las operaciones que la máquina de Babbage tendría que realizar para calcularlos.

            También explicó cómo se introduciría ese algoritmo en la máquina, y esbozó conceptos informáticos como
            “bucle” (grupo de instrucciones que se ejecutan varias veces) o “subrutina” (segmento de un programa que
            puede ser invocado en cualquier momento). Si bien no se puede afirmar que Ada formulara el primer programa
            informático de la historia (Babbage lo había hecho antes), sí fue la primera que lo publicó.
        </p>

        <img src="/public/img/tabl.jpeg" alt="lovelace">
        <p>
            Otra aportación de lady Lovelace fue el concepto de máquina universal, la idea de un artefacto que pudiera
            programarse y reprogramarse para realizar tareas diversas. Esta célebre frase pone de manifiesto dos cosas:
            la clarividencia de Ada en cuanto a las inmensas posibilidades del invento de Babbage y su cautela a la hora
            de trazar sus límites. Ada rechazaba una idea que le hubiera gustado a su padre: la inteligencia artificial.

            Sin embargo, supo ver que la máquina analítica no tenía por qué limitarse al cálculo matemático, sino que
            podría procesar cualquier cosa que pudiera expresarse mediante símbolos, como la palabra o la música. ¿Y
            cómo lo haría? Como los telares de Jacquard, mediante el uso de tarjetas perforadas. Ada acababa de imaginar
            un ordenador.
        </p>

</body>

</html>