<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>turin</title>
</head>

<body>
    <h1>Turin</h1>

    <h2>Biografia</h2>
    <p>Este genio inglés es recordado en gran medida por la creación de la máquina que logró descifrar el código Enigma
        de los
        nazis. Pero sus ideas fueron mucho más allá.</p>
    <img src="/img/turing.jpg" alt="turing">
    <p>
        Alan Mathison Turing nació en Londres, Inglaterra, el 23 de junio de 1912. Desde muy pequeño demostró gran
        capacidad para resolver problemas matemáticos sin siquiera haber estudiado cálculo elemental. Algunas biografías
        dan cuenta de que aprendió a leer por sí solo en tres semanas y que siempre mostró un gran interés por los
        números y los rompecabezas.
        Con dieciséis años de edad, Turing descubrió los trabajos de Albert Einstein y, no sólo pudo comprenderlos, sino
        que, además, infirió las críticas de Einstein a las Leyes de Newton al leer un texto en el que no estaban
        explícitas.
        Durante su edad escolar, Turing fue un joven cuyo optimismo y ambiciones se vieron acrecentados debido en gran
        parte a su intensa unión con su amigo Christopher Morcom, cuya muerte, aún joven, afectaría a Turing
        profundamente.

        A principios de la década de 1930 las computadoras estaban en una incipiente etapa de ensayo, y fue en esa época
        (1936) cuando Alan pensó en una computadora que resolvería cualquier problema. La idea era reducir todo
        (cifras, letras, imágenes y sonidos) a ristras de unos y ceros, y usar un programa para resolver los problemas
        en pasos simples. Así nacía la computadora digital.

        Durante la Segunda Guerra Mundial sus ideas llevaron a desarrollar el método para descifrar los mensajes en
        clave del los nazis, sistema que hoy es reconocido como el primer antecedente de las computadoras programables.

        Él creía que las computadoras sí podrían llegar a pensar y, con el programa adecuado, realizar acciones
        tales como, por ejemplo, chatear sin que pudiéramos ser capaces de distinguir si quien lo hace es una persona o
        una compu: con 40 años Turing había abierto el campo de la Inteligencia Artificial (AI).
    </p>
    <img src="/img/turr.jpg" alt="turing">
    <p>
        Hoy, la AI se utiliza en los autos más modernos en funciones como asistentes de voz para los sistemas de
        infoentretenimient, reconocimiento de imágenes y hasta la conducción autónoma. Puede ayudar a evaluar decisiones
        para lograr resultados óptimos en el menor tiempo posible en situaciones de tránsito y generar previsiones sobre
        el comportamiento de otros vehículos gracias al sistema de reconocimiento automático de imágenes y de otros
        parámetros, nutriéndose, además, de los datos previamente recolectados o "aprendidos".

        Los sistemas que cuentan con AI tienen una gran ventaja: sus capacidades son ilimitadas y, comparados con un
        humano, no se distraen, no se cansan y no pierden la concentración incluso en situaciones poco claras.

        Los aportes de Turing traspasaron las fronteras y se aplicaron a todas las actividades aportando soluciones que
        cambiaron (y cambiarán) las costumbre humanas y, por supuesto, al mundo.
    </p>
    <img src="/img/auto.jpg" alt="turin">
    <p>
        Sin embargo, este genio de la humanidad fue perseguido por su propia comunidad: en 1952 fue apresado por ser
        homosexual. Para evitar la cárcel aceptó someterse a un tratamiento y, poco después, el 7 de junio de 1954, se
        suicidó, situación que todavía hoy tiene muchos puntos sin resolver.

        El reconocimiento para este excepcional científico matemático llegó, finalmente, en 2014, cuando la reina Isabel
        II de Inglaterra proclamó el indulto póstumo, poniendo fin a un largo proceso mediante el cual el estado
        británico pedía disculpas a una de las figuras científicas más sobresalientes del siglo XX.

        Sin embargo, desde 1966 se concede el premio Turing, un equivalente al Nobel de Informática.
    </p>
    
</body>

</html>